<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <main>
        <section class="resultados">
            <table>
                <tr>
                    <th>PAPER ID</th>
                    <th>PAPER ABSTRACT</th>
                    <th>SCORE</th>
                </tr>
                {% set number = namespace(value=1)%}
                {% for resultado in resultados %}
                <tr>
                    <td>{{resultado[0]}}</td>
                    <td>{{data['data'][resultado[0]]}}</td>
                    <td>{{resultado[1]}}</td>
                </tr>
                {% set number.value = number.value + 1 %}
                {% endfor %}
            </table>
        </section>
    </main>

</body>
</html>